*{
    margin:0;
    padding:0;
}
.plat{
    height:186px;
    width:380px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-190px;
    margin-top:-93px;
    border:1px solid black;

}
.blue,
.black,
.red,
.yellow,
.green
{
    position:absolute;
    height:100px;
    width:100px;
    border:10px solid blue;
    border-radius:50%;
}
.blue{
    border-color:blue;
    left:0;
    top:0;
}
.black{
    border-color:black;
    left:130px;
    top:0;
    z-index:1;
}
.red{
    border-color:red;
    left:260px;
    top:0;
}
.yellow{
    border-color:yellow;
    left:65px;
    top:70px;
}
.green{
    border-color:green;
    left:195px;
    top:70px;
}
